{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Lapor Diri | Seputar Covid</title>
<link rel='stylesheet' type='text/css' href='{% static "lapordiri.css" %}'>
<link rel='stylesheet' type='text/css' href='{% static "main.css" %}'>
{% endblock meta %}

{% block content %}
<div class="container pb-5 pt-4">

    <div class="row1">
        <h1>Lapor Diri</h1>
    </div>

    <div class="row2" style="padding: 19px 0 19px 0;">
        <table class="table1">
            <tr>
                <th>
                    <div class="headleft">
                        Kota
                    </div>
                </th>
                <th>
                    <div class="headright">
                        Positif Covid
                    </div>
                </th>
            </tr>
            {% if laporan %}
                {% for lapor in laporan %}
                <tr>
                    <td>
                        <div class="theleft">
                            {{ lapor.kota }}
                        </div>
                    </td>
                    <td>
                        <div class="theright">
                            {{ lapor.jumlahPos}}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td>
                        <div class="theleft">
                            Masih
                        </div>
                    </td>
                    <td>
                        <div class="theright">
                            Kosong
                        </div>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>

    <div class="row3">
        <a class="button-fill" href='{% url "lapordiri:lapor" %}'> Lapor </a>
    </div>

</div>
{% endblock content %}