{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block meta %}
<title>Lapor Diri | Seputar Covid</title>
<link rel='stylesheet' type='text/css' href='{% static "lapordiri.css" %}'>
<link rel='stylesheet' type='text/css' href='{% static "main.css" %}'>
{% endblock meta %}

{% block content %}
<div class="container pb-5 pt-4">
    <div class="row1">
      <h1>Lapor Diri</h1>
    </div>
    
    <div class="row1 pt-5">
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            {{ form|crispy }}
          </fieldset>
          <div class="row3 pt-5">
            <button class="button-fill" type="submit"> Lapor </button>
          </div>
        </form>
    </div>
  </div>
{% endblock content %}