{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block meta %}
<title>Forum Konsultasi</title>
<link rel="stylesheet" type="text/css" href="{% static 'forum.css' %}">
{% endblock meta %}

{% block content %}
<div class='outer'>
    <div class="title">
        <h1>Tambah Topik Baru</h1>
    </div>
    <div class="add-thread">
        <form action="submit/" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div id="buttonclub">
                <input class="button-fill" id="button1" type="submit" value="Tambah Topik">
                <a class="button-outline" id="button2" href="/forum">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}