{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block meta %}
<title>Forum Konsultasi</title>
<link rel="stylesheet" type="text/css" href="{% static 'forum.css' %}">
{% endblock meta %}

{% block content %}
<div class='outer'>
    <div class="title">
        <h1>Forum Konsultasi</h1>
    </div>
    <div class="head-thread addreply">
        <div class="reply-img addreply">
            {% if thread.user.profile.isTenagaMedis %}
                <img src="{% static 'img/tenaga_medis.svg'%}" alt="">
            {% else %}
                <img src="{% static 'img/default.svg'%}" alt="">
            {% endif %}
        </div>
        <div class="topic-content">
            <div class="topic-bundle">
                <div class="topic">
                    <span>{{ thread }}</span>
                </div>
                <div class="t-id">
                    {% if thread.user.profile.isTenagaMedis %}
                        <p style="display: inline; color:#00bfa6; font-weight: 600;">{{ thread.user.username }}</p>
                    {% else %}
                        <p style="display: inline; font-weight: 600;">{{ thread.user.username }}</p>
                    {% endif %}
                    <p style="display: inline; color: gray;"> Posted on {{ thread.date_posted }}</p>
                </div>
            </div>
            <div class="content">
                <p>{{ thread.content }}</p>
            </div>
        </div>
    </div>
    <div class="replies addreply">
        <div class="reply-content">
            <div class="reply-img addreply">
                {% if user.profile.isTenagaMedis %}
                    <img src="{% static 'img/tenaga_medis.svg'%}" alt="">
                {% else %}
                    <img src="{% static 'img/default.svg'%}" alt="">
                {% endif %}
            </div>
            <div class="topic-content">
                <div class="topic-bundle">
                    <div class="t-id">
                        {% if user.profile.isTenagaMedis %}
                            <p style="display: inline; color:#00bfa6; font-weight: 600;">{{ user.username }}</p>
                        {% else %}
                            <p style="display: inline; font-weight: 600;">{{ user.username }}</p>
                        {% endif %}
                    </div>
                    <div class="topic">
                        <span>Reply: {{ thread }}</span>
                    </div>
                </div>
                <div class="text-reply">
                    <form action="submit/" method="POST">
                        {% csrf_token %}
                        <textarea id="content" name="content" cols="30" rows="10" placeholder="Tulis jawabanmu" required>{{ default }}</textarea>
                        <div id="button">
                            <a href="/forum/{{ thread.id }}/" class="button-outlined">Cancel</a>
                            <input class="button-fillet" type="submit" value={{ value }}>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}