{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Forum Konsultasi</title>
<link rel="stylesheet" type="text/css" href="{% static 'forum.css' %}">
{% endblock meta %}

{% block content %}
<div class='outer'>
    <div class="title">
        <h1>Forum Konsultasi</h1>
    </div>
    <div class="new-topic">
        <a class="button-fill" href="add/">Buka Topik Baru</a>
    </div>
    <div class="threads">
        {% if threads %}
            {% for thread in threads %}
            <div class="thread-item">
                <div class="profile-img">
                    {% if thread.user.profile.isTenagaMedis %}
                        <img src="{% static 'img/tenaga_medis.svg'%}" alt="">
                    {% else %}
                        <img src="{% static 'img/default.svg'%}" alt="">
                    {% endif %}
                </div>
                <div class="thread-desc">
                    <div class="topic">
                        <a href="/forum/{{ thread.id }}/">{{ thread }}</a>
                    </div>
                    <div class="t-id">
                        <p style="display: inline; font-weight: 600;">{{ thread.user.username }} </p>
                            {% if thread.user.profile.isTenagaMedis %}
                            <p style="display: inline; color:#00bfa6; font-weight: 600;">Tenaga Medis</p>
                            {% endif %}
                        <p style="display: inline; color: gray;"> Posted on {{ thread.date_posted }}</p>
                    </div>
                </div>
                <div class="direct-answer">
                    <a href="{{ thread.id }}/reply/">Jawab ></a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}