{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Forum Konsultasi</title>
<link rel="stylesheet" type="text/css" href="{% static 'forum.css' %}">
{% endblock meta %}

{% block content %}
<div class='outer'>
    <div class="title">
        <h1>Forum Konsultasi</h1>
    </div>
    <div class="head-thread">
        <div class="reply-img">
            {% if thread.user.profile.isTenagaMedis %}
                <img src="{% static 'img/tenaga_medis.svg'%}" alt="">
            {% else %}
                <img src="{% static 'img/default.svg'%}" alt="">
            {% endif %}
        </div>
        <div class="topic-content">
            <div class="topic-bundle">
                <div class="topic">
                    <span>{{ thread }}</span>
                </div>
                <div class="t-id">
                    {% if thread.user.profile.isTenagaMedis %}
                        <p style="display: inline; color:#00bfa6; font-weight: 600;">{{ thread.user.username }}</p>
                    {% else %}
                        <p style="display: inline; font-weight: 600;">{{ thread.user.username }}</p>
                    {% endif %}
                    <p style="display: inline; color: gray;"> Posted on {{ thread.date_posted }}</p>
                    {% if reply.is_edited %}
                        <p style="display: inline; color: gray;"> (edited)</p>
                    {% endif %}
                </div>
            </div>
            <div class="content">
                <p>{{ thread.content }}</p>
            </div>
            <div class="bottom-button">
                {% if user.is_authenticated %}
                    <a class="reply-button" href="reply/">Jawab</a>
                        {% if user == thread.user %}
                            <a class="delete" href="delete/">Hapus</a>
                        {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="replies">
        {% if replies %}
        {% for reply in replies %}
            <div class="reply">
                <div class="reply-img">
                    {% if reply.user.profile.isTenagaMedis %}
                        <img src="{% static 'img/tenaga_medis.svg'%}" alt="">
                    {% else %}
                        <img src="{% static 'img/default.svg'%}" alt="">
                    {% endif %}
                </div>
                <div class="topic-content">
                    <div class="topic-bundle">
                        <div class="topic">
                            <span>Re: {{ thread }}</span>
                        </div>
                        <div class="t-id">
                            {% if reply.user.profile.isTenagaMedis %}
                                <p style="display: inline; color:#00bfa6; font-weight: 600;">{{ reply.user.username }}</p>
                            {% else %}
                                <p style="display: inline; font-weight: 600;">{{ reply.user.username }}</p>
                            {% endif %}
                            <p style="display: inline; color: gray;"> Posted on {{ reply.date_posted }}</p>
                            {% if reply.is_edited %}
                                <p style="display: inline; color: gray;"> (edited)</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="content">
                        <p>{{ reply }}</p>
                    </div>
                    <div class="bottom-button">
                        {% if user.is_authenticated %}
                            {% if user == reply.user %}
                                <a class="reply-button" href="{{ reply.id }}/edit/">Edit</a>
                                <a class="delete" href="{{ reply.id }}/delete/">Hapus</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}