.table1 div{
    text-align: center;
    font-size: 30px ;
}

.table1 table, th, td{
    padding-top: 10px;
    border-spacing: 0;
    border-collapse: collapse;
}

.theleft {
    background-color: #f2f2f2;
    margin-right: -1px;
    padding: 10px 30px;
}

.theright {
    background-color: #f2f2f2;
    margin-left: -1px;
    padding: 10px 30px;
}

.headleft {
    background-color: #C1EFE9;
    margin-right: -1px;
    border-top-left-radius: 12px;
    padding: 10px 80px 0px 80px;
    font-weight: bold;
}

.headright {
    background-color: #C1EFE9;
    margin-left: -1px;
    border-top-right-radius: 12px;
    padding: 10px 80px 0px 80px;
    font-weight: bold;
}