
.row1, .row2, .row3 {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    margin: 2em 0 0 0;
}
.ml-2, .ml-2:hover {
    text-decoration: none;
    color: #00bfa6;
}

.row1 h1 {
    font-size: 4rem;
    font-weight: 900;
}

.button-fill, .button-outline {
	border-radius:4px;
	cursor:pointer;
	padding:10px 31px;
    text-decoration:none;
    margin-bottom: 1em ;
    width: 12em;
    text-align: center;
}

.button-fill {
	background-color:#00bfa6;
	border:1px solid #ffffff;
	color:#ffffff;
}
.button-fill:hover {
    background-color:#00ddc0;
    text-decoration:none;
	color:#ffffff;

}
.button-fill:active, .button-outline:active {
	position:relative;
	top:1px;
}

.button-outline {
	background-color:#ffffff;
	border:1px solid #00bfa6;
	color:#00bfa6;
}
.button-outline:hover {
    background-color:#00bfa6;
    color: #ffffff;
    text-decoration: none;
}

/* crispy forms */
.asteriskField {
    display: none;
  }