{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block meta %}
    <title>Tambah Artikel</title>
    <link rel="stylesheet" type="text/css" href="{% static 'artikel.css' %}">
{% endblock meta %}

{% block content %}
<div class="container pb-5">

  <div class="row1">
    <h1>Tambah Artikel</h1>
  </div>

 <div class="row4">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form|crispy }}
        </fieldset>
        <div class="row3">
          <button class="button-fill" type="submit"> Tambah </button>
        </div>
      </form>
  </div>

</div>

{% endblock content %}