{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>{{obj.title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'artikel.css' %}">
{% endblock meta %}

{% block content %}

<div class="container pb-5">

    <div class="row1 text-center">
        <h3>{{obj.title}}</h3>

        <p class="text-muted">{{obj.time_posted}}</p>
        <div class="row mx-auto" style="justify-content:center;">
       
         {% if obj.author.profile.isTenagaMedis %}
              <img src="{% static 'images/tenaga_medis.svg' %}" width="10%" alt="" style="margin-right:0.25rem;">
              <p style="margin-bottom:unset; color:#00BFA6">{{obj.author}}</p>
            {% else %}
              <img src="{% static 'images/default.svg' %}" width="10%" alt="" style="margin-right:0.25rem;">
              <p style="margin-bottom:unset;">{{obj.author}}</p>
            {% endif %}
        </div>
    </div>
       
    <div class="row2">
        <img src="{{obj.img}}" width="75%" height="40%" id="placeholder" alt="">
    </div>

    <div class="row3 text-justify">
        <p style="word-break:break-word;">{{obj.content | linebreaksbr}}</p>
    </div>

</div>

<script type='text/javascript'>
  document.getElementById('placeholder').onerror = function() { 
    document.getElementById('placeholder').src = "https://via.placeholder.com/300?text=No+image"; 
  }
</script>

{% endblock content %}