{% extends 'base.html' %}
{% load static %}


{% block meta %}
<title>Artikel</title>
<link rel="stylesheet" type="text/css" href="{% static 'artikel.css' %}">
{% endblock meta %}

{% block content %}

<div class="container pb-5">

    <div class="row1">
        <h1>Artikel</h1>
        <a class="btn btn-primary" href="{% url 'artikel:add' %}" role="button">+ Tambah Artikel</a>
        <br>
    </div>
 
    {% if article %}

    {% for a in article reversed %}

  <!-- Card Start -->

  <div class="card">
    <div class="row ">

      <div class="col-md-4" style="display:flex; align-items:center;">
        <img class="d-flex w-100" src="{{a.img}}" width="100%" alt="" id="placeholder" style="overflow:hidden;">
      </div>

        <div class="col-md-8 px-3">
          <div class="card-block px-3">
          <br>

          <h2 class="card-title" style="font-weight:bold;">{{a.title}}</h2>
            <p class="text-muted">{{a.time_posted}}</p>

          <div class="row mx-auto my-3">
            {% if a.author.profile.isTenagaMedis %}
              <img src="{% static 'images/tenaga_medis.svg' %}" width="4%" alt="" style="margin-right:0.5rem;">
              <p style="margin-bottom:unset; color:#00BFA6">{{a.author}}</p>
            {% else %}
              <img src="{% static 'images/default.svg' %}" width="4%" alt="" style="margin-right:0.5rem;">
              <p style="margin-bottom:unset;">{{a.author}}</p>
            {% endif %}
          </div>

          <p class="card-text">
            {{a.content | truncatewords:50 }}
          </p>

          <a href="{% url 'artikel:details' article_id=a.id %}" class="text-decoration-none">Read More</a>
          <br>
          <br>
            {% if a.author_id == user.id %}

            <div class="text-right">
                <a class="text-decoration-none" href="{% url 'artikel:edit' article_id=a.id %}" style="margin-right:0.5rem;">Edit Artikel</a>
                <a class="text-decoration-none" href="{% url 'artikel:delete' article_id=a.id %}" style="color:red;"> Hapus Artikel</a>
            </div>

            {% endif %}

           <br>
           <br>
        </div>
      </div>
      
       
            </div>
        </div>


  <!-- End of card -->

    {% endfor %}

    {% else %}
    <div class="row2">
    <p>Belum ada artikel baru</p>
    </div>
    {% endif %}


</div>

<script type='text/javascript'>
  document.getElementById('placeholder').onerror = function() { 
    document.getElementById('placeholder').src = "https://via.placeholder.com/300?text=No+image"; 
  }
</script>


{% endblock content %}
