{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Seputar Covid</title>
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock meta %}

{% block content %}
<div class="container pb-5">

  <div class="row1">
    <h1>SeputarCOVID</h1>
    <h5> portal aplikasi seputar COVID-19</h5>
  </div>
  
  <div class="row2">
    <img src="{% static 'img/welcome-image.svg' %}">
  </div>
  
  <div class="row3">
    {% if user.is_authenticated %}
        <h2> Selamat datang {{ user.username }}</h2>
    {% else %}
        <a class="button-fill" href="{% url 'main:register' %}"> Daftar </a>
        <a class="button-outline" href="{% url 'main:login' %}"> Login </a>
    {% endif %}
  </div>
</div>
{% endblock content %}
