{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block meta %}
<title>Seputar Covid</title>
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock meta %}

{% block content %}
<div class="container pb-5">
  <div class="row1">
    <h1>Login</h1>
  </div>
  
  <div class="row1">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form|crispy }}
        </fieldset>
        <div class="row3">
          <button class="button-fill" type="submit"> Login </button>
        </div>
      </form>
      <small class="text-muted">
        Belum punya akun? <a class="ml-2" href="{% url 'main:register' %}">Daftar</a>
      </small>
  </div>
</div>
  
{% endblock content %}
