
.row1, .row2, .row3 {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    margin: 2em 0 0 0;
}

.row1 h1 {
    font-size: 4rem;
    font-weight: 900;
}

.row1 h3 {
    font-size: 2rem;
    font-weight: 900;
}

.btn-primary {
    background: #00BFA6 !important;
}

a {
    color: #00BFA6;
}

.card {
    margin-bottom: 30px;
}
