{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block meta %}
<style>
    .button-fill {
        border-radius: 8px;
        cursor: pointer;
        padding: 10px 75px;
        text-decoration: none;
        margin-bottom: 1em;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }

    .button-fill {
        background-color: #00bfa6;
        border: 1px solid #ffffff;
        color: #ffffff;
    }

    .button-fill:hover {
        background-color: #00ddc0;
        text-decoration: none;
        color: #ffffff;

    }

    .button-fill:active{
        position: relative;
        top: 1px;
    }
    .formDonasi{
        padding-right: 30%;
        padding-left: 30%;
    }
</style>
{% endblock meta %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning" style="text-align: center;">
    {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div style="width: 100%">
    <div class="donasi" style="text-align: center; width: 100 %; font-size: 45px; margin-top: 65px; font-weight: 900">
        <p>Donasi</p>
    </div>
    <form class="formDonasi" action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form|crispy }}
    </table>
        <div class="tombolDonasi" style="text-align: center; margin-top: 30px">
            <input class="button-fill" type="submit" value="Bayar">
        </div>
</form>
</div>
{% endblock content %}